*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
kernel/kernel
user/usys.S
.gdbinit
mkfs/mkfs
mkfs
.vscode/
user/initcode.bin
temp*
*.typ
kernel-qemu
~*
*.obj
*.swp
*.swo
*.tmp
*.bak
.*
*.fat32
src/thinfat32/fs
src/thinfat32/obj
src/thinfat32/build
src/thinfat32/dist

sbi-qemu

sdcard.img-backup
*.gz
*.xz

ltp-full-20240524
*.txt
